<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <title>Visual Geo Info</title>
</head>

<body>
     <!-- Cabeçalho de informações do sistema -->
    <header>
        <div class="title">
            <h2>Lista de Compras</h2>
        </div>
        <!--<div class="banner">
        <img src="https://images.contentstack.io/v3/assets/blt45c082eaf9747747/bltbcca43584b660977/5de0b6aa703bd50385f981ad/Header-5.jpg?width=1200&height=630&fit=crop"
                alt="y"> 
        </div>-->
    </header>
    <section class="page">
        <div class="items">
            <div id="map"></div>
        </div>
         <!-- Opções para adicionar um novo item -->
        <div class="data-content">
            <div class="newItem">
                <input required maxlength="2" type="text" id="newInput" placeholder="Adicionar novo item:">
                <input type="text" id="newQuantity" placeholder="Quantidade:">
                <input type="text" id="newPrice" placeholder="Valor:">
                <span onclick="newItem()" class="addBtn">Adicionar</span>
            </div>
        
            <!-- Tabela com items existentes -->
            <div class="items">
                <table id="myTable">
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                        <th><img src="https://cdn-icons-png.flaticon.com/512/126/126468.png" width="15px" height="15px"></th>
                    </tr>
                </table>
            </div>
        </div>

    </section>
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "AIzaSyBaVpBBrypTqpAlxs223CDkw0H5wYpYWSQ",
          // Add other bootstrap parameters as needed, using camel case.
          // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
        });
    </script>
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
</body>

</html>


